#brandandstyles{
   .brand-container{
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 250px;
        .brandImage{
           img{
            width: 200px;
            height: 70px;
            
           }
            
        }
        .brandImage:hover{
            transform: scale(1.1);
            
        }
    }
   }
   .styles{
      
      .text{
        width: 648px;
        height: 52px;
        text-align: center;
        text-transform: uppercase;
        transform: rotate(270deg);
        position: relative;
        top: 350px;
        left: -280px;
        p{
            
            font-size: 34px;
            font-family: 'Roboto', sans-serif;
            font-weight: bolder;
        }
      }
      
   }
}
       